
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    width: 38%;
    border: 1px solid black;
    margin-top: 30px;
    transition: 1s;

  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}
  button {
    border: none;
    outline: 0;
    display: inline-block;
    color: white;
    background-color: rgb(78, 77, 77);
    text-align: center;
    width: 100%;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }


