.card {
    box-shadow: 0 4px 8px 0 rgba(160, 158, 158, 0.2);
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-top: 90px;
    width: 300px;
 

  }
  .card:hover {
    transform: scale(1.1);
    
}
.card img{
  max-width: 200px;
}
  
  .cards {
    color: grey;
    font-size: 22px;
      display: flex;
      flex-wrap:wrap ;
      justify-content: space-around;


  
  }
  
  .card button  {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(8, 8, 8);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(3, 3, 3);
  }

  .toogel {
    background-color: black;
    color:whitesmoke;
    border-radius: 20px;
    height: 50px;
    width: 50px;
  }
  .HEART{
    color: black;
text-shadow: 5px 5px 15px rgb(250, 39, 1) ;
border-radius: 40px;

    height: 20px;
    width: 20px;
  }

  .provail1{
    border-radius: 20px ;
    margin-top: 50px;
  }
  .about1{
    border: black solid;
    width: 50%;
    height: 90%;
    text-align: center;
    margin-top: 100px;
    margin-left: 400px;
    color: cornsilk;
    text-shadow: black;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfidmbDV-hAJW9BmSO4OQD2ak_LgWAqdL4pw&usqp=CAU);
  }
  h1{
    text-align: center;
  }
  .order1{
    margin-left: 20px;
    color: rgb(242, 242, 247);

  }

 
  p{
    text-align: center;
  
  }

.di{
  height: 200px;
}

    body {
      background-color: lightblue;
    }
    
    @media screen and (min-width: 400px) {
      body {
        background-color: lightgreen;
      }
    }
    
    @media screen and (min-width: 800px) {
      body {
        background-color: lavender;
      }
    }